@model List<Category>
@{
    ViewData["Title"] = "index";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Categories</h4>
                
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                
                                <th>
                                    Category Name
                                </th>
                                @*<th>
                                    Category Description
                                </th>*@
                                <th>
                                    <span>Detail</span>
                                    <span>Edit</span>
                                    <span>Delete</span>   
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                             
                            @foreach (Category ctg in Model)
                            {
                               
                            <tr >

                                
                                
                                <td>
                                    @ctg.Name
                                </td>
                                @*<td>
                                    @Html.Raw(@ctg.Description)
                                </td>*@
                                
                                <td>
                                    <a class="btn btn-success" asp-action="Detail" asp-route-id="@ctg.Id">
                                        <i class="mdi mdi-account-card-details"></i>
                                    </a>
                                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@ctg.Id">
                                        <i class="mdi mdi-table-edit"></i>
                                    </a>
                                    <a  class="btn btn-danger" asp-action="Delete" asp-route-id="@ctg.Id">
                                        <i class="mdi mdi-delete-forever"></i>
                                    </a>
                                </td>

                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

